section.form
  .container
    if (msgsemail)
      .status= msgemail
    .status(id="status_mail")
    .form__subtitle.subtitle Контактные данные
    h2.form__title.title Пишите, пообщаемся
    form(action="/" method="POST" enctype="application/x-www-form-urlencoded").form-email#mail
      .form-email__line
        label.form-email__label(for="contact_name") Имя *
        input.form-email__input(type="text" name="name" id="contact_name")
      .form-email__line
        label.form-email__label(for="contact_email") Email *
        input.form-email__input(type="email" name="email" id="contact_email")
      .form-email__line
        label.form-email__label(for="contact_message") Сообщение
        textarea(name="message" id="contact_message").form-email__textarea
      .form-email__line
        button(type="submit").form-email__button.button Отправить
    